<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="dsEduActivity" connectionString="data source=172.18.6.25;integrated security=False;user id=www_eduactivity_user;password=eduact*user;Initial Catalog=www_EduActivity;" providerName="System.Data.SqlClient" />
    <add name="www_EduActivityConnectionString" connectionString="Data Source=172.18.6.25;Initial Catalog=www_EduActivity;Integrated Security=False;User ID=www_eduactivity_user;Password=eduact*user" providerName="System.Data.SqlClient" />
    <add name="CICEntities" connectionString="Data Source=W4-7000-6-54;Initial Catalog=CIC;user id=sa;password=ss740522;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--local端MS-SQL-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ScriptServerAddress" value="https://www.kmuh.org.tw/Web/cdn" />
    <add key="OAuth2ServerAddress" value="http://www.kmuh.org.tw/Web/AuthServerMVC" />
    <!--<add key="OAuth2ServerAddress" value="https://qc-interweb.kmuh.org.tw/Web/AuthServerMVC" />--> <!--測試醫生-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.3.1114.40" newVersion="2013.3.1114.40" />
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISecurityReadWCFService" maxReceivedMessageSize="5000000">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ISecurityReadWCFService1">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://intraap.server.kmuh.org.tw/WEB/SecurityRead.Services/SecurityReadWCFService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISecurityReadWCFService"
        contract="SecurityReadWcf.ISecurityReadWCFService" name="WSHttpBinding_ISecurityReadWCFService" />
      <endpoint address="https://intraap.server.kmuh.org.tw/WEB/SecurityRead.Services/SecurityReadWCFService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISecurityReadWCFService1"
        contract="SecurityReadWcf.ISecurityReadWCFService" name="WSHttpBinding_ISecurityReadWCFService1" />
    </client>
  </system.serviceModel>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>